<h6>Add Favour</h6>

{{input value=title placeholder="Title"}}

{{textarea value=description placeholder="Description"}}

{{input value=location placeholder="Location"}}

{{input value=recurrence placeholder="Single or multiple"}}

{{input value=points placeholder="Number of points"}}

<button class="favour" {{action "postFavour"}}>Add Favour</button>